@import "../all/all.scss";
@import "./content";
@import "./player";

.main-page{
    position: relative;
    background:$bg-green-color;
    // width: 1440px;
    // height: 800px;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;


}